---
http_interactions:
- request:
    method: post
    uri: http://kinja.com/api/profile/session/burnerLogin
    body:
      encoding: UTF-8
      string: '{"screenName":"gemtest","token":"mzjjk judly bjysk ujnbv"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app05.xyz.kinja-ops.com #1445'
      X-Kinja-Version:
      - '20141118'
      X-Cdn-Fetch:
      - mantle-setcookie
    body:
      encoding: UTF-8
      string: '{"meta":{"error":null,"warnings":[]},"data":{"id":"5876237249235511023","screenName":"gemtest","displayName":"gemtest","authType":4,"authName":"burner","createdMillis":1424733492000,"updatedMillis":1437753697655,"lastLoginMillis":1437753697655,"status":"enabled","avatar":{"id":"17jcxk0ml1k8qpng","format":"png"},"superUser":false}}'
  recorded_at: Fri, 24 Jul 2015 16:01:37 GMT
- request:
    method: post
    uri: http://kinja.com/api/profile/token/create
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app06.bfc.kinja-ops.com #1445'
      X-Kinja-Version:
      - '20141118'
      X-Cdn-Fetch:
      - mantle-setcookie
    body:
      encoding: UTF-8
      string: '{"meta":{"error":null,"warnings":[]},"data":{"token":"d4e084be-77ed-4bc6-ab0d-248a5f047df8-0-d367eb4abb79931841acb749fe64012f9a4f0d1d","secure":false,"createdMillis":1437753697751}}'
  recorded_at: Fri, 24 Jul 2015 16:01:37 GMT
recorded_with: VCR 2.9.3
