---
http_interactions:
- request:
    method: get
    uri: http://kinja.com/api/profile/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Kinja-Version:
      - '20141118'
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app04.bfc.kinja-ops.com #993'
    body:
      encoding: UTF-8
      string: '{"meta":{"error":null,"warnings":[]},"data":{"token":"78c7e184-d9da-4555-b8c3-f488e6a7a343","session":"a72c7535-20c9-447d-b22c-a502af7be233","createdMillis":1424733542346}}'
  recorded_at: Mon, 23 Feb 2015 23:19:02 GMT
recorded_with: VCR 2.9.3
