---
http_interactions:
- request:
    method: get
    uri: http://kinja.com/api/profile/user/views/asAuthor?ids=5876237249235511023
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Kinja-Version:
      - '20141118'
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app19.bfc.kinja-ops.com #993'
      X-Cdn-Fetch:
      - mantle-origin-cache
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"error":null,"warnings":[]},"data":[{"id":"5876237249235511023","screenName":"gemtest","displayName":"gemtest","superUser":false,"defaultBlogId":1634457255,"avatar":{"id":"17jcxk0ml1k8qpng","format":"png"}}]}'
  recorded_at: Mon, 23 Feb 2015 23:19:02 GMT
recorded_with: VCR 2.9.3
