---
http_interactions:
- request:
    method: get
    uri: http://kinja.com/api/analytics/kala/viewsForPost?id=1775111772
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app03.bfc.kinja-ops.com #67'
      X-Kinja-Build:
      - '67'
      X-Kinja-Revision:
      - a4fdf7b6e3fb653a1bee22124aec3fc1a7845f61
      X-Kinja-Server:
      - app03.bfc.kinja-ops.com
      X-Cdn-Fetch:
      - mantle-origin-cache
      X-Geo-Segment:
      - C
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"warnings":[]},"data":[{"id":"1775111772","views":351707,"uniqueViews":91159}]}'
  recorded_at: Fri, 24 Jun 2016 18:45:19 GMT
recorded_with: VCR 2.9.3
