---
http_interactions:
- request:
    method: get
    uri: http://kinja.com/api/profile/user/views/asAuthor?ids=5716491910670767033
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app14.xyz.kinja-ops.com #1178'
      X-Kinja-Version:
      - '20141118'
      X-Cdn-Fetch:
      - mantle-origin-cache
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"error":null,"warnings":[]},"data":[{"id":"5716491910670767033","screenName":"adampash","displayName":"Adam
        Pash","superUser":false,"defaultBlogId":771,"avatar":{"id":"gdjxua361big4hslpfhx","format":"png"}}]}'
  recorded_at: Mon, 13 Apr 2015 22:06:35 GMT
recorded_with: VCR 2.9.3
