---
http_interactions:
- request:
    method: get
    uri: http://kinja.com/api/profile/blog/byhost/gawker.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app17.xyz.kinja-ops.com #1178'
      X-Kinja-Version:
      - '20141118'
      X-Cdn-Fetch:
      - mantle-origin-cache
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"error":null,"warnings":[]},"data":{"id":7,"name":"gawker","displayName":"Gawker","canonicalHost":"gawker.com","hosts":["newfeedgawker.kinja.com","de.gawker.com","au.gawker.com","us.gawker.com","m.gawker.com","br.gawker.com","newsfeed.gawker.com","ru.gawker.com","www.gawker.com","ads.gawker.com","blog.gawker.com","assets.gawker.com","ca.gawker.com","uk.gawker.com","cityfile.gawker.com","fetch.gawker.com","nl.gawker.com","es.gawker.com"],"status":"ENABLED","createTimeMillis":1354577923124,"lastUpdateTimeMillis":1428428881357,"createdById":"7","ownerId":"5722373954280962685","description":"Today''s
        gossip is tomorrow''s news","descriptionHtml":null,"mergedProperties":{"aboutPostId":1679006931,"showInsets":true,"fbAppId":"447084078690870","metaTitle":"Gawker
        &mdash; Today''s gossip is tomorrow''s news","googleSiteVerification":"PMODv5fOfI_I6GRn06P6uDSnTPLgipc_fgkmh7EgXyw","blogGroup":"gawker","isGmgBlog":true,"googleAnalyticsID":"UA-142218-2","kruxId":"JMWgLQaa","template":"gawker"},"showLikesInLatest":false,"showRepliesInLatest":false,"timezone":"America/New_York","timezoneOffset":-14400000,"timezoneShortname":"EDT","avatar":{"id":"duyy8bbxv1j5xi3spt5n","format":"jpg"},"logo":{"id":"ztcaspqy4mjgehh3o09r","format":"png"},"groupBlog":true,"noindex":false}}'
  recorded_at: Mon, 13 Apr 2015 21:01:26 GMT
recorded_with: VCR 2.9.3
