---
http_interactions:
- request:
    method: get
    uri: http://kinja.com/api/profile/user/views/byName?name=adampash
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app08.xyz.kinja-ops.com #1636'
      X-Kinja-Version:
      - '20141118'
      Fastly-Debug-Digest:
      - b0e86222ad7092d388e5e259f33c3906fae744aa7906b9a514bbed2e0d0502bf
      X-Cdn-Fetch:
      - mantle-origin-cache
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"error":null,"warnings":[]},"data":{"id":"5716491910670767033","screenName":"adampash","displayName":"Adam
        Pash","authType":3,"authName":"google","createdMillis":1330974491000,"updatedMillis":1446215432000,"lastLoginMillis":1446215432000,"status":"enabled","avatar":{"id":"gdjxua361big4hslpfhx","format":"png"},"superUser":false}}'
  recorded_at: Wed, 04 Nov 2015 16:39:49 GMT
recorded_with: VCR 2.9.3
