---
http_interactions:
- request:
    method: get
    uri: http://kinja.com/api/profile/account/burner/login?screenName=gemtest&token=mzjjk%20judly%20bjysk%20ujnbv
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Kinja-Version:
      - '20141118'
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app08.xyz.kinja-ops.com #993'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"error":null,"warnings":[]},"data":{"id":"5876237249235511023","screenName":"gemtest","displayName":"gemtest","authType":4,"authName":"burner","createdMillis":1424733492000,"updatedMillis":1424733493000,"converted":3,"status":"enabled","avatar":{"id":"17jcxk0ml1k8qpng","format":"png"},"superUser":false,"remoteAccounts":[]}}'
  recorded_at: Mon, 23 Feb 2015 23:19:02 GMT
recorded_with: VCR 2.9.3
