---
http_interactions:
- request:
    method: get
    uri: http://kinja.com/api/profile/account/burner/login?screenName=gemtest&token=mzjjk%20judly%20bjysk%20ujnbv
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app11.xyz.kinja-ops.com #1069'
      X-Kinja-Version:
      - '20141118'
    body:
      encoding: UTF-8
      string: '{"meta":{"error":null,"warnings":[]},"data":{"id":"5876237249235511023","screenName":"gemtest","displayName":"gemtest","authType":4,"authName":"burner","createdMillis":1424733492000,"updatedMillis":1426537478130,"lastLoginMillis":1426537478130,"status":"enabled","avatar":{"id":"17jcxk0ml1k8qpng","format":"png"},"superUser":false,"remoteAccounts":[]}}'
  recorded_at: Mon, 16 Mar 2015 20:24:37 GMT
- request:
    method: get
    uri: http://kinja.com/api/profile/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app04.bfc.kinja-ops.com #1069'
      X-Kinja-Version:
      - '20141118'
    body:
      encoding: UTF-8
      string: '{"meta":{"error":null,"warnings":[]},"data":{"token":"21df3dc7-d016-482f-9f71-8cd0a0e06b0b","session":"1822a5ef-743d-452a-815a-8b4a35bafc1e","createdMillis":1426537478187}}'
  recorded_at: Mon, 16 Mar 2015 20:24:37 GMT
- request:
    method: get
    uri: http://kinja.com/api/profile/user/views/asAuthor?ids=5876237249235511023
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app18.xyz.kinja-ops.com #1069'
      X-Kinja-Version:
      - '20141118'
      X-Cdn-Fetch:
      - mantle-origin-cache
    body:
      encoding: UTF-8
      string: '{"meta":{"error":null,"warnings":[]},"data":[{"id":"5876237249235511023","screenName":"gemtest","displayName":"gemtest","superUser":false,"defaultBlogId":1634457255,"avatar":{"id":"17jcxk0ml1k8qpng","format":"png"}}]}'
  recorded_at: Mon, 16 Mar 2015 20:24:37 GMT
- request:
    method: post
    uri: http://kinja.com/api/core/post/1687581385/update?token=21df3dc7-d016-482f-9f71-8cd0a0e06b0b
    body:
      encoding: UTF-8
      string: '{"publishTimeMillis":1426537477797,"defaultBlogId":1634457255}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app03.bfc.kinja-ops.com #6039'
      X-Cdn-Fetch:
      - mantle-default
    body:
      encoding: UTF-8
      string: '{"meta":{"error":null,"warnings":[]},"data":{"id":1687581385,"parentId":null,"parentAuthorId":null,"starterId":1687581385,"publishTimeMillis":1426537477797,"lastUpdateTimeMillis":1426537478357,"timezone":"America/New_York","shareBlogId":null,"sharedPostId":null,"sharedUrl":null,"salesAvatar":null,"sponsored":false,"status":"PUBLISHED","authorId":"5876237249235511023","allowReplies":true,"byline":"","showByline":true,"properties":"","xmliId":null,"blogId":[1634457255],"defaultBlogId":1634457255,"authorBlogId":1634457255,"liveBlog":false,"approved":true,"headline":"","original":"<p>[<a
        data-attr=\"http://gawker.com/no-playlist-1685415865\" href=\"http://gawker.com/no-playlist-1685415865\">Gawker</a>]</p>","source":"wysiwyg","images":[],"videos":[],"videoThumbs":[],"author":{"id":"5876237249235511023","screenName":"gemtest","displayName":"gemtest","defaultBlogId":1634457255,"defaultBlog":null,"avatar":{"id":"17jcxk0ml1k8qpng","format":"png"}},"tags":[],"blogs":[{"id":1634457255,"name":"gemtest","displayName":"gemtest","canonicalHost":"gemtest.kinja.com","hosts":[],"status":"ENABLED","timezone":"America/New_York","timezoneOffset":-14400000,"timezoneShortname":"EDT","mergedProperties":null,"avatar":null}],"annotation":null,"viewstats":null,"promotions":[],"replyMeta":null,"replyCount":null,"parent":null,"starter":null,"blogPostAction":null,"score":null,"insets":[],"referencedBy":[],"likes":null,"sharedPost":null,"reframes":[],"noindex":null,"isRecommended":null,"permalink":"http://gemtest.kinja.com/gawker-1687581385","permalinkHost":"http://gemtest.kinja.com","permalinkPath":"/gawker-1687581385","display":"<p
        class=\"first-text\">[<a href=\"http://gawker.com/no-playlist-1685415865\"
        target=\"_blank\">Gawker</a><inset id=\"1685415865\"></inset>]</p><!-- core-decorated
        -->","excerpt":"<p class=\"first-text\">[<a href=\"http://gawker.com/no-playlist-1685415865\"
        target=\"_blank\">Gawker</a>]</p>","compact":"[Gawker]...","plaintext":"[Gawker]","shortHeadline":"","shortExcerpt":"<p
        class=\"first-text\">[<a href=\"http://gawker.com/no-playlist-1685415865\"
        target=\"_blank\">Gawker</a>]</p>","excerptWithAssets":"<p class=\"first-text\">[<a
        href=\"http://gawker.com/no-playlist-1685415865\" target=\"_blank\">Gawker</a>\n
        <inset id=\"1685415865\"></inset>]</p>","aboveHeadline":null,"leftOfHeadline":null,"firstAsset":"","length":8,"postId":1687581385,"isBlip":true,"sharingMainImage":null,"facebookImage":null,"decorationFlags":["Default"],"publishTime":{"timestamp":1426537477797,"timezone":"America/New_York","MdyHm":"03/16/2015
        16:24","MdyatHm":"03/16/2015 at 16:24","rfc822":"Mon, 16 Mar 2015 20:24:37
        GMT","yMdHmsZ":"2015-03-16T16:24:37-04:00","hmma":"4:24pm","day":"Monday","Mddyyhmma":"3/16/15
        4:24pm","fullDate":"March 16, 2015","relative":{"amount":null,"type":"now"}},"authorBlogName":"gemtest"}}'
  recorded_at: Mon, 16 Mar 2015 20:24:38 GMT
recorded_with: VCR 2.9.3
