---
http_interactions:
- request:
    method: get
    uri: http://kinja.com/api/profile/account/burner/login?screenName=gemtest&token=mzjjk%20judly%20bjysk%20ujnbv
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app18.bfc.kinja-ops.com #1178'
      X-Kinja-Version:
      - '20141118'
      X-Cdn-Fetch:
      - mantle-setcookie
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"error":null,"warnings":[]},"data":{"id":"5876237249235511023","screenName":"gemtest","displayName":"gemtest","authType":4,"authName":"burner","createdMillis":1424733492000,"updatedMillis":1428956360940,"lastLoginMillis":1428956360940,"status":"enabled","avatar":{"id":"17jcxk0ml1k8qpng","format":"png"},"superUser":false,"remoteAccounts":[]}}'
  recorded_at: Mon, 13 Apr 2015 20:19:24 GMT
- request:
    method: get
    uri: http://kinja.com/api/profile/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app06.xyz.kinja-ops.com #1178'
      X-Kinja-Version:
      - '20141118'
      X-Cdn-Fetch:
      - mantle-setcookie
    body:
      encoding: UTF-8
      string: '{"meta":{"error":null,"warnings":[]},"data":{"token":"cf039981-df6b-4fa2-b1f7-5a6cd86ee28f","session":"30fc1844-bda3-400b-a6d9-6e910b004e50","createdMillis":1428956360995}}'
  recorded_at: Mon, 13 Apr 2015 20:19:24 GMT
- request:
    method: get
    uri: http://kinja.com/api/profile/user/views/asAuthor?ids=5876237249235511023
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app07.bfc.kinja-ops.com #1178'
      X-Kinja-Version:
      - '20141118'
      X-Cdn-Fetch:
      - mantle-origin-cache
    body:
      encoding: UTF-8
      string: '{"meta":{"error":null,"warnings":[]},"data":[{"id":"5876237249235511023","screenName":"gemtest","displayName":"gemtest","superUser":false,"defaultBlogId":1634457255,"avatar":{"id":"17jcxk0ml1k8qpng","format":"png"}}]}'
  recorded_at: Mon, 13 Apr 2015 20:19:24 GMT
- request:
    method: post
    uri: http://kinja.com/apicore/post/1687581385/update?token=cf039981-df6b-4fa2-b1f7-5a6cd86ee28f
    body:
      encoding: UTF-8
      string: '{"publishTimeMillis":1428956364169,"defaultBlogId":1634457255}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Kinja:
      - 'app03.xyz.kinja-ops.com #15570'
      X-Kinja-Build:
      - '15570'
      X-Kinja-Revision:
      - 52de436be3b8012e5008d37d39e177fd58b85cac
      X-Kinja-Server:
      - app03.xyz.kinja-ops.com
      X-Cdn-Fetch:
      - mantle-origin-cache
    body:
      encoding: UTF-8
      string: "\t<!DOCTYPE html><!--[if lt IE 8]>\t <html class=\"no-js lt-ie9 lt-ie8
        lt-ie7\" lang=\"en-US\"> <![endif]--><!--[if IE 8]>\t  <html class=\"no-js
        lt-ie9\" lang=\"en-US\"> <![endif]--><!--[if gt IE 8]><!--> <html class=\"no-js\"
        lang=\"en-US\"> <!--<![endif]--><!-- THIS IS OVERLORD --><head><meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=11; IE=10; IE=9; IE=8; IE=EDGE\" /><script async type=\"text/javascript\"
        src=\"http://kinja.com/api/profile/assets/javascripts/sso.js\"></script>\n\t<script
        type=\"text/javascript\">\n\t\tvar _sf_startpt=(new Date()).getTime();\n\t\tif
        (typeof(performance) !== 'undefined' && typeof performance.now === 'function')
        {\n\t\t\tvar _kinjaperf_start = performance.now();\n\t\t}\n\t</script>\n\t\t\n\t<script
        type=\"text/javascript\">\n\t\t(function () {\n\t\t  var w = typeof window
        != 'undefined' ?[...]
