---
http_interactions:
- request:
    method: get
    uri: http://kinja.com/api/profile/account/burner/login?screenName=gemtest&token=mzjjk%20judly%20bjysk%20ujnbv
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app02.xyz.kinja-ops.com #1322'
      X-Kinja-Version:
      - '20141118'
      X-Cdn-Fetch:
      - mantle-setcookie
    body:
      encoding: UTF-8
      string: '{"meta":{"error":null,"warnings":[]},"data":{"id":"5876237249235511023","screenName":"gemtest","displayName":"gemtest","authType":4,"authName":"burner","createdMillis":1424733492000,"updatedMillis":1434143410675,"lastLoginMillis":1434143410675,"status":"enabled","avatar":{"id":"17jcxk0ml1k8qpng","format":"png"},"superUser":false}}'
  recorded_at: Fri, 12 Jun 2015 21:10:10 GMT
- request:
    method: get
    uri: http://kinja.com/api/profile/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app11.xyz.kinja-ops.com #1322'
      X-Kinja-Version:
      - '20141118'
      X-Cdn-Fetch:
      - mantle-setcookie
    body:
      encoding: UTF-8
      string: '{"meta":{"error":null,"warnings":[]},"data":{"token":"e8a820e0-4b39-4810-be0a-281d7989ee67-0-e19dec0921e7ae19c7c4c94f72753666b79cc4a7","session":"42634297-a187-4eda-b5e9-c2b985168c20","secure":false,"createdMillis":1434143410732}}'
  recorded_at: Fri, 12 Jun 2015 21:10:10 GMT
- request:
    method: get
    uri: http://kinja.com/api/profile/user/views/asAuthor?ids=5876237249235511023
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app17.xyz.kinja-ops.com #1322'
      X-Kinja-Version:
      - '20141118'
      X-Cdn-Fetch:
      - mantle-origin-cache
    body:
      encoding: UTF-8
      string: '{"meta":{"error":null,"warnings":[]},"data":[{"id":"5876237249235511023","screenName":"gemtest","displayName":"gemtest","superUser":false,"defaultBlogId":1634457255,"avatar":{"id":"17jcxk0ml1k8qpng","format":"png"}}]}'
  recorded_at: Fri, 12 Jun 2015 21:10:10 GMT
- request:
    method: post
    uri: http://kinja.com/api/core/post/1710983044/update?token=e8a820e0-4b39-4810-be0a-281d7989ee67-0-e19dec0921e7ae19c7c4c94f72753666b79cc4a7
    body:
      encoding: UTF-8
      string: '{"publishTimeMillis":1434143410627,"defaultBlogId":1634457255}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app01.xyz.kinja-ops.com #6505'
      X-Cdn-Fetch:
      - mantle-default
    body:
      encoding: UTF-8
      string: '{"meta":{"error":null,"warnings":[]},"data":{"id":1710983044,"parentId":null,"parentAuthorId":null,"starterId":1710983044,"publishTimeMillis":1434143410627,"lastUpdateTimeMillis":1434143410875,"timezone":"America/New_York","shareBlogId":null,"sharedPostId":null,"sharedUrl":null,"salesAvatar":null,"sponsored":false,"status":"PUBLISHED","authorId":"5876237249235511023","allowReplies":true,"byline":"","showByline":true,"properties":"","xmliId":null,"blogId":[1634457255],"defaultBlogId":1634457255,"authorBlogId":1634457255,"liveBlog":false,"approved":true,"headline":"","original":"<p>[<a
        data-attr=\"http://gawker.com/no-playlist-1685415865\" href=\"http://gawker.com/no-playlist-1685415865\">Gawker</a>]</p>","source":"wysiwyg","images":[],"videos":[],"videoThumbs":[],"author":{"id":"5876237249235511023","screenName":"gemtest","displayName":"gemtest","defaultBlogId":1634457255,"defaultBlog":null,"avatar":{"id":"17jcxk0ml1k8qpng","format":"png"}},"tags":[],"blogs":[{"id":1634457255,"name":"gemtest","displayName":"gemtest","canonicalHost":"gemtest.kinja.com","hosts":[],"status":"ENABLED","timezone":"America/New_York","timezoneOffset":-14400000,"timezoneShortname":"EDT","mergedProperties":null,"avatar":null}],"annotation":null,"viewstats":null,"promotions":[],"replyMeta":null,"replyCount":null,"parent":null,"starter":null,"blogPostAction":null,"score":null,"insets":[],"referencedBy":[],"likes":null,"sharedPost":null,"reframes":[],"noindex":null,"isRecommended":null,"permalink":"http://gemtest.kinja.com/gawker-1710983044","permalinkHost":"http://gemtest.kinja.com","permalinkPath":"/gawker-1710983044","display":"<p
        class=\"first-text\">[<a href=\"http://gawker.com/no-playlist-1685415865\"
        target=\"_blank\">Gawker</a><inset id=\"1685415865\" />]</p><!-- core-decorated
        -->","excerpt":"<p class=\"first-text\">[<a href=\"http://gawker.com/no-playlist-1685415865\"
        target=\"_blank\">Gawker</a>]</p>","compact":"[Gawker]...","plaintext":"[Gawker]","shortHeadline":"","shortExcerpt":"<p
        class=\"first-text\">[<a href=\"http://gawker.com/no-playlist-1685415865\"
        target=\"_blank\">Gawker</a>]</p>","excerptWithAssets":"<p class=\"first-text\">[<a
        href=\"http://gawker.com/no-playlist-1685415865\" target=\"_blank\">Gawker</a>\n
        <inset id=\"1685415865\" />]</p>","aboveHeadline":null,"leftOfHeadline":null,"firstAsset":"","length":8,"postId":1710983044,"isBlip":true,"sharingMainImage":null,"facebookImage":null,"firstSentence":"[Gawker]","hasReadMore":false,"publishTime":{"timestamp":1434143410627,"timezone":"America/New_York","MdyHm":"06/12/2015
        17:10","MdyatHm":"06/12/2015 at 17:10","rfc822":"Fri, 12 Jun 2015 21:10:10
        GMT","yMdHmsZ":"2015-06-12T17:10:10-04:00","hmma":"5:10pm","day":"Friday","Mddyyhmma":"6/12/15
        5:10pm","fullDate":"June 12, 2015","relative":{"amount":null,"type":"now"}},"authorBlogName":"gemtest"}}'
  recorded_at: Fri, 12 Jun 2015 21:10:10 GMT
recorded_with: VCR 2.9.3
