---
http_interactions:
- request:
    method: post
    uri: http://kinja.com/api/profile/session/burnerLogin
    body:
      encoding: UTF-8
      string: '{"screenName":"gemtest","token":"mzjjk judly bjysk ujnbv"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app16.bfc.kinja-ops.com #1445'
      X-Kinja-Version:
      - '20141118'
      X-Cdn-Fetch:
      - mantle-setcookie
    body:
      encoding: UTF-8
      string: '{"meta":{"error":null,"warnings":[]},"data":{"id":"5876237249235511023","screenName":"gemtest","displayName":"gemtest","authType":4,"authName":"burner","createdMillis":1424733492000,"updatedMillis":1437754001325,"lastLoginMillis":1437754001325,"status":"enabled","avatar":{"id":"17jcxk0ml1k8qpng","format":"png"},"superUser":false}}'
  recorded_at: Fri, 24 Jul 2015 16:06:41 GMT
- request:
    method: post
    uri: http://kinja.com/api/profile/token/create
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app04.bfc.kinja-ops.com #1445'
      X-Kinja-Version:
      - '20141118'
      X-Cdn-Fetch:
      - mantle-setcookie
    body:
      encoding: UTF-8
      string: '{"meta":{"error":null,"warnings":[]},"data":{"token":"70e5c2cf-33ba-4bde-b2ec-afec8e11b53a-0-73235965eb552baa5e2ddbece97f77ed2416e7e5","secure":false,"createdMillis":1437754001401}}'
  recorded_at: Fri, 24 Jul 2015 16:06:41 GMT
- request:
    method: get
    uri: http://kinja.com/api/profile/user/views/asAuthor?ids=5876237249235511023
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app06.bfc.kinja-ops.com #1445'
      X-Kinja-Version:
      - '20141118'
      X-Cdn-Fetch:
      - mantle-origin-cache
    body:
      encoding: UTF-8
      string: '{"meta":{"error":null,"warnings":[]},"data":[{"id":"5876237249235511023","screenName":"gemtest","displayName":"gemtest","superUser":false,"defaultBlogId":1634457255,"avatar":{"id":"17jcxk0ml1k8qpng","format":"png"}}]}'
  recorded_at: Fri, 24 Jul 2015 16:06:41 GMT
- request:
    method: post
    uri: http://kinja.com/api/core/post/add?token=70e5c2cf-33ba-4bde-b2ec-afec8e11b53a-0-73235965eb552baa5e2ddbece97f77ed2416e7e5
    body:
      encoding: UTF-8
      string: '{"headline":"","original":"<p>[<a data-attr=\"http://gawker.com/no-playlist-1685415865\"
        href=\"http://gawker.com/no-playlist-1685415865\">Gawker</a>]</p>","defaultBlogId":1634457255,"status":"PUBLISHED","allowReplies":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Kinja:
      - 'app11.xyz.kinja-ops.com #6703'
      X-Cdn-Fetch:
      - mantle-default
    body:
      encoding: UTF-8
      string: '{"meta":{"error":null,"warnings":[]},"data":{"id":1719978861,"parentId":null,"parentAuthorId":null,"starterId":1719978861,"publishTimeMillis":1437754001557,"lastUpdateTimeMillis":1437754001557,"timezone":"America/New_York","shareBlogId":null,"sharedPostId":null,"sharedUrl":null,"salesAvatar":null,"sponsored":false,"status":"PUBLISHED","authorId":"5876237249235511023","allowReplies":true,"byline":"","showByline":true,"properties":"","xmliId":null,"blogId":[1634457255],"defaultBlogId":1634457255,"authorBlogId":1634457255,"liveBlog":false,"approved":true,"headline":"","original":"<p>[<a
        data-attr=\"http://gawker.com/no-playlist-1685415865\" href=\"http://gawker.com/no-playlist-1685415865\">Gawker</a>]</p>","source":"wysiwyg","images":[],"videos":[],"videoThumbs":[],"author":{"id":"5876237249235511023","screenName":"gemtest","displayName":"gemtest","defaultBlogId":1634457255,"defaultBlog":null,"avatar":{"id":"17jcxk0ml1k8qpng","format":"png"}},"tags":[],"blogs":[{"id":1634457255,"name":"gemtest","displayName":"gemtest","canonicalHost":"gemtest.kinja.com","hosts":[],"status":"ENABLED","timezone":"America/New_York","timezoneOffset":-14400000,"timezoneShortname":"EDT","properties":null,"avatar":null}],"annotation":null,"viewstats":null,"promotions":[],"replyMeta":null,"replyCount":null,"parent":null,"starter":null,"blogPostAction":null,"score":null,"insets":[],"referencedBy":[],"likes":null,"sharedPost":null,"reframes":[],"noindex":null,"isRecommended":null,"permalink":"/gawker-1719978861","permalinkHost":"","permalinkPath":"/gawker-1719978861","display":"<p
        class=\"first-text\">[<a href=\"http://gawker.com/no-playlist-1685415865\">Gawker</a><inset
        id=\"1685415865\" />]</p><!-- core-decorated -->","excerpt":"<p class=\"first-text\">[<a
        href=\"http://gawker.com/no-playlist-1685415865\">Gawker</a>]</p>","compact":"[Gawker]...","plaintext":"[Gawker]","shortHeadline":"","shortExcerpt":"<p
        class=\"first-text\">[<a href=\"http://gawker.com/no-playlist-1685415865\">Gawker</a>]</p>","excerptWithAssets":"<p
        class=\"first-text\">[<a href=\"http://gawker.com/no-playlist-1685415865\">Gawker</a>\n
        <inset id=\"1685415865\" />]</p>","aboveHeadline":null,"leftOfHeadline":null,"firstAsset":"","length":8,"postId":1719978861,"isBlip":true,"sharingMainImage":null,"facebookImage":null,"firstSentence":"[Gawker]","hasReadMore":false,"publishTime":{"timestamp":1437754001557,"timezone":"America/New_York","MdyHm":"07/24/2015
        12:06","MdyatHm":"07/24/2015 at 12:06","rfc822":"Fri, 24 Jul 2015 16:06:41
        GMT","yMdHmsZ":"2015-07-24T12:06:41-04:00","hmma":"12:06pm","day":"Friday","Mddyyhmma":"7/24/15
        12:06pm","fullDate":"July 24, 2015","relative":{"amount":null,"type":"now"}},"authorBlogName":"gemtest"}}'
  recorded_at: Fri, 24 Jul 2015 16:06:41 GMT
recorded_with: VCR 2.9.3
